#console {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    border: 2px solid black;
    border-radius: 1vh;
    box-sizing: border-box;
}

#horizonContainer {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 6;
    box-sizing: border-box;
}

#horizonCanvas {
    width: 100%;
    height: 100%;
    display: block;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    /* taille de ton curseur */
    height: 100px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* pour ne pas gêner la souris */
}

.dashboard {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    /* ← évite les débordements */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
    padding: 12px;
    background: #222;
    box-sizing: border-box;
}


.panel {
    background: #000000;
    border: 4px solid #666;
    padding: 10px;
    color: #c5c5c5;
    font-family: monospace;
    box-shadow: inset 0 0 10px #333;
    position: relative;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* empêche les scrolls */
    box-sizing: border-box;
}

#viewportDIV {
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 2/7;
    grid-row: 2/7;
    box-sizing: border-box;

}

#viewport {
    position: absolute;
    width: 99%;
    height: 99%;
    display: block;
    z-index: 1;


}

#videoLegend {
    position: absolute;
    width: 99%;
    height: 99%;

    z-index: 2;

}

#videoView {
    position: absolute;
    width: 99%;
    height: 99%;
    z-index: 1;
}

#switchView {
    position: absolute;
    z-index: 3;
    border: solid;
    height: 5%;
    font-size: large;
    border-radius: 2vh;
}

#cameraCtrlDIV {
    position: absolute;
    z-index: 2;
    right: 10%;
    bottom: 10%;
}

#gimballMode {}

.dpad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100px;
    margin: 20px auto;
}

.middle-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}